.wrapper{
    display: flex;
    flex-direction: column;
    gap: 60px;
    background: url(./background.jpg) center/cover;
    width: 100%;
    height: 100vh;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.wrapper svg{
    width: 162px;
}

.formContainer{
    width: 100%;
    max-width: 520px;
    padding: 25px 50px;

    border-radius: 30px 7px 7px 7px;
    background-color: var(--white);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.form h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.actionWrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.login{
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 4px 9px 0px rgba(0, 0, 0, 0.25);
    padding: 13px 7px;
    color: var(--black);
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
}

.password{
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 4px 9px 0px rgba(0, 0, 0, 0.25);
    padding: 13px 7px;
    color: var(--black);
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 20px;
}

.spinner {
    display: block;
	width: 39px;
	height: 39px;

	animation: spin 0.8s ease-in-out infinite;

	border: 3px solid var(--background);
	border-top: 3px solid var(--primary);
	border-radius: 50%;
}

.spinnerHidden {
	visibility: hidden;
}

.error{
    margin-top: 10px;
    color: var(--red)
}

@media (max-width: 425px) {

    .wrapper{
        padding: 15px;
    }
    .formContainer{
        padding: 25px 25px;
    }
    .form{
        gap: 10px;
    }

    .button{
        padding: 12.5px 30px !important;
    }
}

@keyframes spin {
	0% { transform: rotate(-45deg); }
	100% { transform: rotate(315deg); }
}