.sidebar {
	z-index: 2;

	background-color: rgb(0, 0, 0, 0);
}

.wrapper {
	position: relative;
	z-index: 2;

	overflow-y: auto;

	width: 100%;
	height: 100%;
	padding: 19px 33px;
	padding-bottom: 156px;

	background-color: var(--white);
	clip-path: polygon(calc(100% - 46px) 0, 100% 60px, 100% 100%, 0 100%, 0 0);
}

.logo {
	width: 150px;
	height: auto;
	margin-bottom: 14px;
}

@media (max-width: 1200px) {
	.logo {
		visibility: hidden;
	}
}
