.sidebar {
	background-color: rgb(0, 0, 0, 0);
    z-index: 2;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;    
    padding: 19px 33px;
    padding-bottom: 156px;
    overflow-y: scroll;
    background-color: var(--white);
    clip-path: polygon(calc(100% - 46px) 0, 100% 60px, 100% 100%, 0 100%, 0 0);
    z-index: 2;
}

.logo{
    width: 150px;
    height: auto;
    margin-bottom: 14px;
}

@media (max-width: 1200px) {
    .logo{
        visibility: hidden;

    }
}

