.wrapper{
    /* padding: 0 !important; */
    padding: 30px 0!important;
}

.h2{
    margin-left: 40px;
}

.h3{
    max-width: 500px;
    margin-right: 20px;
}


.sectionWrapper{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.sectionWrapper span {
    max-width: 440px;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
}

.withLine {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
    margin-right: 20px;
    padding-left: 20px;

    font-size: 20px;
    line-height: 22px;
}

.withLine::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 7px;
    background-color: var(--primary);
    border-radius: 4px;
}

.withLine > h3{
    font-weight: bold;
}


.withLine > p{
    font-weight: 300;
}

@media (max-width: 425px) {
    .withLine {
        font-size: 16px;
        line-height: 18px;
    }
    .sectionWrapper{
        padding: 0 5px;
    }
}