.wrapper {
	/* padding: 0 !important; */
	padding: 30px 0 !important;
}

.h2 {
	margin-left: 40px;
}

.h3 {
	max-width: 500px;
	margin-right: 20px;
}

.sectionWrapper {
	display: flex;
	flex-direction: column;

	margin-top: 20px;
	margin-bottom: 40px;
	padding-left: 40px;
}

.sectionWrapper span {
	max-width: 440px;

	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
}

.sectionWrapper img {
	width: 186px;

	border-radius: 0 !important;
}

.withLine {
	position: relative;

	display: flex;
	flex-direction: column;

	margin-right: 20px;
	margin-left: 40px;
	padding-left: 20px;

	font-size: 20px;
	line-height: 22px;
	gap: 20px;
}

.withLine::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	width: 7px;

	content: '';

	border-radius: 4px;
	background-color: var(--primary);
}

.withLine > h3 {
	font-weight: bold;
}

.withLine > p {
	font-weight: 300;
}

@media (max-width: 425px) {
	.withLine {
		font-size: 16px;
		line-height: 18px;
	}

	.sectionWrapper {
		padding: 0 5px;
	}
}
