@media (max-width: 1200px) {
    .header {
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr 40px ;
        gap: 20px;
        background-color: var(--white);
        box-shadow: 1px 1px 2.8px 0px rgba(0, 0, 0, 0.24);

        padding: 15px 15px 15px 15px;
        z-index: 100;
    }

    .logo {
        height: 38px;
    }

    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
    }

    .mobileMenu {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        max-width: 425px;

        overflow-y: scroll;

        background: var(--white);
    }

    .menuClose {
        position: fixed;
        z-index: 11;
        top: 20px;
        right: 20px;
        height: 50px;
    }
}
