.layout{
    position: relative;
    display: grid;
    grid-template-columns: 360px minmax(320px, auto);
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "sidebar main"
        "footer footer";

    min-height: 100vh;
}

.header{
    grid-area: header;
    display: none ;
}

.sidebar{
    grid-area: sidebar;
    position: fixed;
    top: 0;
    left: 0;
    width: 360px;
    height: 100vh;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
    z-index: 3;
}

@media (max-width: 1200px) {
	.layout{
		grid-template-columns: minmax(320px, 1fr);
        grid-template-rows: 70px 1fr auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}

	.sidebar {
		display: none;
	}

	.header {
        position: fixed;
        top: 0;
        left: 0;
        display: grid;
    }
}

