.wrapper{
    height: 100%;
}

.h1{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.h3{
    max-width: 700px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.actionWrapper{
    width: 100%;
    padding: 0 20px;
}

.nameInput{
    display: block;
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 1px 4px 9px 0px rgba(0, 0, 0, 0.25);
    padding: 13px 7px;
    color: var(--black);
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
}

.button{
    background-color: var(--primary);
    padding: 14.2px 20px; 
    border-radius: 18px;
    margin: 0 0 20px;

    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    transition: all 0.1s linear;
}

.button:active{
    background-color: var(--primary-hover);
    transform: scale(0.9);
}

@media (min-width: 1025px) {
    .button:hover{
        background-color: var(--primary-hover);
        transform: scale(1.02);
    }
    .button:active{
        background-color: var(--primary-hover);
        transform: scale(0.9);
    }
}