.wrapper{
    padding: 31px 0 50px 40px;
}

.sectionWrapper{
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

.sectionWrapper:last-child{
    margin-bottom: 0;
}

@media (max-width: 768px) {

    .sectionWrapper{
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width: 425px) {
    .wrapper{
        padding: 31px 0 50px 20px;
    }

    .sectionWrapper{
        padding: 0 5px;
    }
}