.wrapper {
	padding: 31px 0 50px 40px;
}

.fourGrid {
	display: grid;

	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 14px 20px;
}

.textWrapper {
	display: grid;
	align-items: center;

	max-width: 1600px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 60px;
	margin-left: auto;
	padding: 0 40px;
	grid-template-columns: 1fr 457px;
	gap: 30px;
}

.bigText {
	display: flex;
	flex-direction: column;
	gap: 20px;

	font-size: 16px;
}

.bigText p {
	text-indent: 20px;
}

.list {
	display: flex;
	flex-direction: column;

	margin-left: 20px;

	list-style-type: none;
	gap: 5px;
}

.list li {
	position: relative;

	padding-left: 10px;
}

.list li::before {
	position: absolute;
	top: calc(50% - 1px);
	left: 0;

	width: 2px;
	height: 2px;

	content: '';

	background-color: var(--black);
}

.home {
	display: flex;
	flex-direction: column;

	height: 100%;
	gap: 26px;
}

.homeImg {
	width: 100%;
	object-fit: contain !important;
}

@media (max-width: 1240px) {
	.textWrapper {
		display: grid;
		grid-template-columns: 1fr;
	}
}

@media (max-width: 870px) {
	.fourGrid {
		grid-template-columns: 1fr;
		grid-template-rows: none;
	}
}

@media (max-width: 425px) {
	.bigText {
		font-size: 13px;
		gap: 10px;
	}

	.list {
		gap: 2px;
	}
}
